body {
    background-color: #0a0a0a;
    color: #00ffcc;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    padding: 20px;
  }
  
  .puzzle-container {
    margin: auto;
    margin-top: 50px;
    padding: 40px 30px;
    max-width: 700px;
    background-color: #000;
    border: 2px solid #00ffcc;
    border-radius: 12px;
    box-shadow: 0 0 20px #00ffcc88;
  }
  
  
  input {
    padding: 10px;
    width: 80%;
    margin-top: 15px;
    background: #000;
    color: #00ffcc;
    border: 1px solid #00ffcc;
  }
  
  button {
    margin-top: 20px;
    padding: 10px 20px;
    background: #00ffcc;
    color: #000;
    border: none;
    cursor: pointer;
    font-weight: bold;
  }
  